#root {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100svh;
}

header {
    border-bottom: 1px solid black;

    .wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
        
    nav {
        min-width: 13rem;
        display: grid;
        grid-template-columns: max-content max-content;
        gap: 1rem;
        justify-content: center;

        button {
            min-width: 6rem;
        }
    }
}

main {
    overflow-y: auto;
}

.wrapper {
    width: min(90ch, 100% - 4rem);
    margin-inline: auto;
}

// Edit view
fieldset {
    padding: 1rem;
}

.personal-info {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
}

.section-heading {
    text-decoration: underline;
}

.education-entry {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid white;
    margin-bottom: 1rem;
}

.experience-entry {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid white;
    margin-bottom: 1rem;
}

.responsibilities {
    grid-column-start: 3;
    grid-row: 1 / 5;
    display: grid;
    gap: 1rem;
}

// View view
section:not(:first-of-type) {
    margin-top: 2rem;
}

.generalInfo {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, max-content);
    text-align: center;
    column-gap: 1rem;
    row-gap: 0.5rem;
    margin-top: 1rem;

    h2 {
        grid-column: 1 / -1;
        font-size: 2rem;
    }
}

.experience, .education {
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: 1fr max-content;

    .text-right {
        text-align: right;
    }

    .responsibility {
        padding-left: 1.25rem;
        grid-column: 1 / -1;
    }
}

// Footer

footer {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    padding: 0.25rem;
    
    a {
        color: black;
    }

    svg {
        max-width: 1.5em;
        //fill: white;
    }
}
